	/*320默认rem字体标准值*/
	html{font-size:100px;} 
	/*body上把默认字体大小重置回来*/
	body{font-size: 12px;}

	/*media rem字体适配*/
	/*针对360px以上的屏幕做适配*/
	@media (min-width: 360px) {
	  html{font-size:112px !important;}
	}
	/*针对400px以上的屏幕做适配*/
	@media (min-width: 400px) {
	  html{font-size:125px !important;}
	}
	/*适配480px以上屏幕*/
	@media (min-width: 480px) {
	  html{font-size:150px !important;}
	}
	/*适配540px以上屏幕*/
	@media (min-width: 540px) {
	  html{font-size:168px !important;}
	}
	/*适配640px以上屏幕*/
	@media (min-width: 640px) {
	  html{font-size:200px !important;}
	}